<a href="{{url}}" class="entry">
    <div class="entry-plate">
        <div class="entry-plate-inner"{{#if feature_image}} style="background-image: url({{img_url feature_image size="m"}});"{{/if}}></div>
    </div>
    <div class="entry-text">
        {{#if primary_tag}}
            <p class="entry-topic">{{primary_tag.name}}</p>
        {{/if}}
        <h3 class="entry-title">{{title}}</h3>
        {{#if custom_excerpt}}
            <p class="entry-excerpt entry-excerpt-dropcap">{{custom_excerpt}}</p>
        {{else}}
            {{#if excerpt}}
                <p class="entry-excerpt entry-excerpt-dropcap">{{excerpt words="30"}}</p>
            {{/if}}
        {{/if}}
        <div class="entry-meta">
            {{!-- Contributor byline override: any author- slug tag replaces the staff author.
                 See post.hbs for the full convention note. --}}
            <p class="entry-byline entry-byline-contributors" data-byline>
                {{#foreach tags}}{{#match slug "=~" "^author-"}}
                    By <em class="entry-contributor">{{name}}</em>
                {{/match}}{{/foreach}}
            </p>
            <p class="entry-byline entry-byline-fallback">
                {{#primary_author}}By <em>{{name}}</em>{{/primary_author}}
            </p>
            <p class="entry-date">{{date format="MMMM D"}} &middot; {{reading_time minute="1 min read" minutes="% min read"}}</p>
        </div>
    </div>
</a>
